body {
  display: flex;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

nav {
  background-color: lightblue;
  align-self: stretch;
  align-content: stretch;
  padding: 1rem;
  flex: 1;
}

#root {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-self: stretch;
  width: 100vw;
  height: 100vh;
  align-content: stretch;
}

.products,
.orders,
.inventory,
.store {
  flex: 3;
  padding: 1rem;
  display: flex;
}

.products {
  flex-direction: column;
}

.product-legend,
.product-individual {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  flex-direction: row;
}

.product-individual-text {
  flex: 1;
}

.sidebar-container {
  height: 100vh;
  justify-content: space-evenly;
}

.sidebar-items {
  background-color: lightcoral;
}

.sidebar-username {
  align-items: flex-end;
  background-color: orange;
}

.page {
  height: 100%;
}

.product-legend-text {
  font-weight: 800;
  flex: 1;
}

.store {
  flex-direction: column;
}