body {
  display: flex;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

nav {
  background-color: rgb(238, 238, 238);
  align-self: stretch;
  align-content: stretch;
  flex: 1;
}

#root {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-self: stretch;
  width: 100vw;
  height: 100vh;
  align-content: stretch;
}

.login,
.products,
.orders,
.inventory,
.store {
  flex: 3;
  padding: 1rem;
  display: flex;
}

.orders,
.products {
  flex-direction: column;
}

.product-legend,
.orders-legend,
.orders-individual,
.product-individual {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  flex-direction: row;
}

.product-individual {
  border-bottom: 1px solid lightgray;
}

a {
  color: black;
  text-decoration: none;
}

.product-individual-text {
  font-weight: 400;
  flex: 1;
}

.sidebar-container {
  height: 100vh;
  justify-content: space-evenly;
}

.sidebar-logo {
  padding: 2rem;
  height: 8vh;
  color: white;
  background-color: lightsalmon;
}

.sidebar-items {
  padding: 1rem;
  background-color: none;
}

.sidebar-username {
  padding: 1rem;
  align-items: flex-end;
}

.page {
  height: 100%;
}

.orders-legend-text,
.product-legend-text {
  font-weight: 800;
  flex: 1;
}